[submodule "fuel-core"]
	path = fuel-core
	url = git://github.com/novius-os/fuelphp-core.git
[submodule "packages/orm"]
	path = packages/orm
	url = git://github.com/novius-os/fuelphp-orm.git
[submodule "packages/parser"]
	path = packages/parser
	url = git://github.com/fuel/parser.git
[submodule "packages/oil"]
	path = packages/oil
	url = git://github.com/fuel/oil.git
[submodule "packages/email"]
	path = packages/email
	url = git://github.com/fuel/email.git
