/**
 * Based on Foundation's grid
 *
 * http://foundation.zurb.com/
 */

/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
.line, .col, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.line { width: 1680px; max-width: 100%; min-width: 150px; margin: 0 auto; }
.line .line { width: auto; max-width: none; min-width: 0; margin: 0 1em; }
.line.collapse .col, .line.collapse .cols { padding: 0; }
.line .line { width: auto; max-width: none; min-width: 0; margin: 0 1em; }
.line .line.collapse { margin: 0; }

.col, .cols { float: left; min-height: 1px; padding: 0 1em; position: relative; }
.col.centered, .cols.centered { float: none; margin: 0 auto; }

[class*="col"] + [class*="col"]:last-child { float: right; }
[class*="col"] + [class*="col"].end { float: left; }

.c1, .line .c1 { width: 8.33333%; }
.c2, .line .c2 { width: 16.66667%; }
.c3, .line .c3 { width: 25%; }
.c4, .line .c4 { width: 33.33333%; }
.c5, .line .c5 { width: 41.66667%; }
.c6, .line .c6 { width: 50%; }
.c7, .line .c7 { width: 58.33333%; }
.c8, .line .c8 { width: 66.66667%; }
.c9, .line .c9 { width: 75%; }
.c10, .line .c10 { width: 83.33333%; }
.c11, .line .c11 { width: 91.66667%; }
.c12, .line .c12 { width: 100%; }

/* Nicolas Gallagher's micro clearfix */
.line { *zoom: 1; }
.line:before, .line:after { content: " "; display: table; }
.line:after { clear: both; }
